.container{
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.dishMenuContainer{
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
}

.row__container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    border: 1px solid black;
}