.aside{
    border: 1px solid rgb(18, 153, 18);
    border-bottom: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 600;
    width: 150px;
    height:fit-content;
    margin-top: 40px;
    margin-right: 1em;
}

.toggle{
    width: 100%;
    border-bottom: 1px solid rgb(18, 153, 18);
}

.summary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:50px;
    background-color: rgb(18, 153, 18);
    color: white;
    border: none;
    cursor: pointer;
    list-style-type: none;
}

.summary:hover{
    color: rgb(202, 197, 197);
}

details[open] .summary{
    border-bottom: 2px solid grey;
}

.listItem{
    list-style: none;
    margin: 10px 0;
    text-align: center;
}

.listItem a{
    text-decoration: none;
    color: black;
}

.listItem a:hover{
    text-decoration: none;
    color: grey;
}





